<h1>Poems#index</h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Poem</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @poem.each do |word| %>
      <tr>
        <td><%= poem.title %></td>
        <td><%= poem.poem %></td>
        <td><%= link_to 'Go back', user_path, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Word', new_word_path, class: "button" %>
