<div class="poem_new">
  <h2>Write your own Poetry</h2>
  <% if @poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>
      <ul>
        <% @poem.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h5 class="analytics">The average number of characters per poem is <%= AnalyticService.number_of_char_per_poem %> - Try to beat that!</h5>
  <br>
  <%= form_for @poem do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :size => "40" %><br>
      <br>
      <%= f.label :poem %>
      <%= f.text_area :poem, :cols => 110, :rows => 10 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <%= link_to 'Back', user_path(@user), class: "button" %>
  <br>
  <br>
  <br>
  <div class="favorites"><u>List of Favorite Words:</u>
    <% @user.words.each do |word| %>
      <br>
      - <b><%= word.name.capitalize %></b><br>
      <p><%= "#{word.name.capitalize} rhymes with" %>
        <%= select("rhymes", "words_id", ApiService.rhymes_with(word.name), { include_blank: false }) %><br>
        <%= "Adjectives for #{word.name.capitalize}" %>
        <%= select("adjectives", "words_id", ApiService.adjectives_for(word.name), { include_blank: false }) %>
      <% end%>
    </div>
  </div>
