<div class="index">
  <h1 id="welcome">Welcome to Rhyme Time</h1>
  <p id="notice"><%= notice %></p>
  <br>
  <br>
  <table>
    <tbody>
      <tr>
        <td><%= link_to 'Log In', login_path, class: "button" %></td>
        <td><%= link_to 'Sign Up', signup_path, class: "button" %></td>
        <td><%= link_to 'All Poems', poems_path, class: "button" %> </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <div class="analytics"> <%= AnalyticService.number_of_poems %> poems have been created with us!</div>
</div>
<div class="sonnet">
  <h2>- William Shakespeare -</h2>
  <br>
  <div id="sonnet_title"> <%= @title %></div>
  <br>
  <br>
  <div id="sonnet_body"> <% @lines_array.each do |line| %>
      <%= line %><br>
    <% end %> </div>
</div>
