<div class="user_show">
  <h2> Welcome <%= @user.name.capitalize %><br>
    <% if @user && @user.id %>
      <%= link_to "Logout", login_path, method: :delete, class: "button" %>
    <% end %><br>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
    <br>
  </h2>
  <p>
    <h5>The average number of poems created by our users is: <%= AnalyticService.average_number_of_poems%></h5>
    <p id="notice"><%= notice %>
      <br>
    </p>
    <u>List of Words:</u><br>
    <%= link_to "Add Word", new_word_path, class: "button" %>
    <% @user.words.each do |word| %>
      <br>
      - <b><%= word.name.capitalize %></b><br>
      <p><%= "#{word.name.capitalize} rhymes with" %>
        <%= select("rhymes", "words_id", ApiService.rhymes_with(word.name), { include_blank: false }) %>
        <br>
        <%= "Adjectives for #{word.name.capitalize}" %>
        <%= select("adjectives", "words_id", ApiService.adjectives_for(word.name), { include_blank: false }) %>
        <br>
        <%= button_to "🗑", word_path(word), method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %>
      <% end %>
    </p>
  </p>
  <br>
  <p>
    <u><strong>List of Poems:</u></strong><br>
    <%= link_to "Create Poem", new_poem_path, class: "button"%><br>
    <% @user.poems.each do |poem| %>
      - <b><%= poem.title %></b><br>
      <%= button_to "🗑", poem_path(poem), method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %> |
      <%= link_to "edit", edit_poem_path(poem), class: "button" %><br>
    <% end %>
  </p>
</div>
