<div class="login">
  <h2>Login</h2>
  <% if @error %>
    <p style= "color: red"><%= @error %></p>
    <br>
  <% end %>
  <%= form_for @user, url: {controller: "sessions", action: "create"} do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <br>
    <%= f.submit "Login", class: "button" %>   <%= link_to 'Back', users_path, class: "button" %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="analytics">Enjoy the last poem created by one of our users:</div>
  <br>
  <div class="login_title"><%= AnalyticService.last_poem_created.title.capitalize %></div>
  <br>
  <div class="login_poem"><%= AnalyticService.last_poem_created.poem.capitalize %></div>
</div>
