<!DOCTYPE html>
<html>
  <head>
    <title>RhymeTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <header class="header">
      <a href="/">
        <h1>Rhyme Time</h1>
      </a>
    </header>
    <%= link_to "https://flatironschool.com/", id: "school_link" do %>
      <%= image_tag "flatiron.gif", id: "school_logo" %>
    <% end %>
    <%= link_to "https://github.com/rjortega/rhyme_time", id: "github_link" do %>
      <%= image_tag "github.png", id: "github_logo" %>
    <% end %>
    <%= yield %>
  </body>
</html>
