<!DOCTYPE html>
<html>
  <head>
    <title>RhymeTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <header class="header">
      <a href="/">
        <h1>Rhyme Time</h1>
      </a>
    </header>
    <%# <a id="school_logo" href="https://flatironschool.com/"><img src="/assets/flatiron.gif" title="Flatiron Schools"></a> %>
    <%= link_to "https://flatironschool.com/" do %>
      <%= image_tag "/assets/flatiron.gif", id: "school_logo" %>
    <% end %>
    <%= link_to "https://github.com/rjortega/rhyme_time" do %>
      <%= image_tag "/assets/github.png", id: "github_logo" %>
    <% end %>
    <%# <a id="github_logo" href="https://github.com/rjortega/rhyme_time"><img src="/assets/github.png" title="Github Project"></a> %>
    <%= yield %>
  </body>
</html>
